
:root {
    font-family: Arial, sans-serif;
    
    --white-color: #fff;
    --black-color: #000;
    --gray-color: #777777;
    --green-color: #008000;
    --red-color: #ff0000;
}

.main-block {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}