.header {
    color: var(--white-color);
    background-color: var(--black-color);
    padding: 32px;
}

.header-title {
    font-size: 4em;
}

.header__text {
    font-size: 3em;
}

.main {
    color: var(--gray-color);
    padding: 32px;
    font-size: 18px;
}

.main-title {
    font-size: 3em;
}

.list {
    text-align: start;
}

.section-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 15px 0;
}

.main-sub-title {
    font-weight: bold;
    padding: 5px 0;
}

.main-text {
    padding: 5px 0 0;
}

.text-link {
    color: inherit;
    cursor: pointer;
    font-size: 1em;
    padding: 5px 0;
}

.text-link:hover {
    text-decoration: underline;
    color: var(--black-color);
}

.input-calendar {
    border: 1px solid var(--black-color);
}