.header {
    color: var(--white-color);
    background-color: var(--black-color);
    padding: 32px;
    font-size: 24px;
}

.main-navigation-block {
    display: flex;
    padding: 0 0 32px;
}

.navigation-row {
    display: flex;
    align-items: center;
}

.navigation-element {
    padding: 5px;
}

.navigation--ico {
    background-image: url(../images/home-icon.svg);
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.main {
    color: var(--gray-color);
    padding: 16px;
    font-size: 24px;
}

.list {
    text-align: start;
}

.section-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 32px 0;
}

.main-sub-title {
    font-weight: bold;
    padding: 5px 0;
}

.main-text {
    padding: 10px 0 0;
}

.text-link {
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    padding: 5px 0;
}

.text-link:hover {
    text-decoration: underline;
    color: var(--black-color);
}

.text-box-row {
    display: flex;
}

.text-box-column {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.green-text {
    color:var(--green-color);
}

.red-text {
    color: var(--red-color);
}

.button-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.button-run {
    animation-name: background-color;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    border: 2px solid var(--gray-color);
    border-radius: 8px;
    color: var(--white-color);
    font-family: inherit;
    font-weight: bold;
    font-size: 0.6em;
    padding: 10px;
    margin: 8px 20px 8px 0;
    box-shadow: 6px 6px 9px var(--black-color);

}

.select-list-container {
    text-align: start;
}

.select-list {
    border: solid 1px;
    font-size: inherit;
    margin: 8px;
    padding: 8px;
    width: 222px;
}

.select-list option {
    text-align: left;
}

@keyframes background-color {
    0% {
        background-color: var(--gray-color);
    }

    100% {
        background-color: var(--black-color);
    }
}

.button-run:hover {
    animation-name: background-color-hover;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes background-color-hover {
    0% {
        background-color: var(--black-color);
    }

    100% {
        background-color: var(--gray-color);
    }
}

.input-calendar {
    border: 1px solid var(--black-color);
}